{% extends "pages/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block content %}

<div class="section-block-parallax jarallax black-overlay-70" data-jarallax data-speed="0.6">
    <div class="container">
        <div class="row">
            <!-- Contact Form Column Start -->
            <div class="col-md-6 col-sm-12 col-12 wow fadeIn animated mx-auto" data-wow-delay=".3s"
                data-wow-duration="1.5s">
                <div class="contact-form-md white-background">
                    <h5 class="center-holder">{% trans "Social Network Login Failure" %}</h5>
                    <!-- Form Start -->
                    <p>{% trans "An error occurred while attempting to login via your social network account." %}</p>
                    </p>
                    <!-- Form End -->
                </div>
            </div>
            <!-- Contact Form Column End -->
        </div>
    </div>
</div>

{% endblock %}