{% extends 'pages/base.html' %}
{% load bootstrap %}

{% block content %}
<div class="section-block-parallax jarallax" data-jarallax data-speed="0.6">
    <div class="container">
        <div class="row">
            <!-- Contact Form Column Start -->
            <div class="col-md-6 col-sm-12 col-12 wow fadeIn animated mx-auto" data-wow-delay=".3s"
                data-wow-duration="1.5s">
                <div class="contact-form-md white-background  shadow-light">
                    <h5 class="center-holder">Login Form</h5>
                    <!-- Form Start -->
                    <form method="post" action="#" class="mt-30">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        <button type="submit" class="primary-button button-sm">Login</button>
                        <small>Need an account? <a class="pink-red" href="{% url 'account_signup' %}">sign up.
                            </a></small>
                        <small>Lost password? <a class="pink-red"
                                href="{% url 'account_reset_password' %}">reset</a></small>
                    </form>
                    <!-- Form End -->
                </div>
            </div>
            <!-- Contact Form Column End -->
        </div>
    </div>
</div>

{% endblock %}