{% extends "pages/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="section-block-parallax jarallax black-overlay-70" data-jarallax data-speed="0.6">
    <div class="container">
        <div class="row">
            <!-- Contact Form Column Start -->
            <div class="col-md-6 col-sm-12 col-12 wow fadeIn animated mx-auto" data-wow-delay=".3s"
                data-wow-duration="1.5s">
                <div class="contact-form-md white-background">
                    <h5 class="center-holder">{% trans "Password Reset" %}</h5>
                    <!-- Form Start -->
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}

                    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a
                        few
                        minutes.{% endblocktrans %}</p>
                    {% endblock %}
                    <!-- Form End -->
                </div>
            </div>
            <!-- Contact Form Column End -->
        </div>
    </div>
</div>