{% extends "pages/base.html" %}
{% load bootstrap %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}


<div class="section-block-parallax jarallax" data-jarallax data-speed="0.6">
    <div class="container">
        <div class="row">
            <!-- Contact Form Column Start -->
            <div class="col-md-6 col-sm-12 col-12 wow fadeIn animated mx-auto" data-wow-delay=".3s"
                data-wow-duration="1.5s">
                <div class="contact-form-md white-background shadow-light">
                    <h5 class="center-holder">
                        {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
                    </h5>
                    <!-- Form Start -->
                    {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.
                        Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    {% else %}
                    {% if form %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        <input type="submit" name="action" value="{% trans 'change password' %}" />
                    </form>
                    {% else %}
                    <p>{% trans 'Your password is now changed.' %}</p>
                    {% endif %}
                    {% endif %}
                    <!-- Form End -->
                </div>
            </div>
            <!-- Contact Form Column End -->
        </div>
    </div>
</div>

{% endblock %}