{% load news_tags %}

<!-- Blog Grid Section START -->
<div class="section-block-news">
    <div class="container">
        <div class="section-heading center-holder">
            <!-- <small>THERE’S A WATCH FOR EVERYONE.</small> -->
            <h4 class="mt-30">{% if category %}{{ category.name }} News - in partnership with vwsng.com {% else %}News -
                in partnership with smallbusinesstori.com{% endif %}</h4>
            <div class="section-heading-line"></div>

        </div>
        <!-- Left Side START -->
        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="blog-list mb-20">
                    {% for item in news %}
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-12">
                            <div class="blog-news-left-img">
                                {% load thumbnail %}
                                {% thumbnail item.image "400x200" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                {% endthumbnail %}
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-12">
                            <div class="blog-news-left-text">
                                <h5><a href="{{ item.get_absolute_url}}">{{ item.title}}</a></h5>
                                <div class="blog-news-comment"> <span>{{ item.created|date:"F d, Y"}}</span> </div>
                                <p>{{ item.body|safe|truncatewords:20|linebreaks}}</p>
                                <span class="blog-grid-3-button right-holder">

                                </span>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    No content for this category
                    {% endfor %}
                </div>
            </div>

            <!-- Left Side END -->


            <!-- Right Side START -->
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="blog-post-right">


                    <h4>Categories</h4>
                    <div class="blog-post-categories mt-20">
                        <ul>
                            <li{% if not categories %} class="selected" {% endif %}>
                                <a href="{% url 'news:news-list' %}">All</a>
                                </li>
                                {% for c in categories %}
                                <li {% if category.slug == c.slug %} class="selected" {% endif %}>
                                    <a href="{{ c.get_absolute_url}}">{{c.name}}</a>
                                </li>
                                {% endfor %}
                        </ul>
                    </div>



                    <div class="blog-post-follow mt-20">
                        <ul>
                            <li class="social-facebook"><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                            <li class="social-youtube"><a href="#"><i class="fab fa-youtube-square"></i></a></li>
                            <li class="social-twitter"><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                            <li class="social-pinterest"><a href="#"><i class="fab fa-pinterest-square"></i></a></li>
                            <li class="social-behance"><a href="#"><i class="fab fa-behance-square"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Right Side END -->
            <!-- Pagination Start -->
            <div class="container center-holder mb-30">
                <div class="">
                    {% if news.has_other_pages %}
                    {% if news.has_previous %}
                    <a href="?page=1" class="grey-button button-pagination semi-rounded">First</a>
                    <a href="?page={{ news.previous_page_number}}"
                        class="grey-button-bordered button-pagination semi-rounded">Previous</a>
                    {% endif %}
                    {% for num in news.paginator.page_range %}
                    {% if news.number == num %}
                    <a href="?page={{ num }}" class="primary-button button-pagination semi-rounded">{{ num }}</a>
                    {% elif num > news.number|add:'-3' and num  < news.number|add:'3' %}
                    <a href="?page={{ num }}" class="grey-button-bordered button-pagination semi-rounded">{{ num }}</a>
                    {% endif %}
                    {% endfor %}

                    {% if news.has_next %}
                    <a href="?page={{ news.next_page_number}}"
                        class="grey-button button-pagination semi-rounded">Next</a>
                    <a href="?page={{ news.paginator.num_pages}}"
                        class="grey-button-bordered button-pagination semi-rounded">Last</a>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            <!-- Pagination End -->
        </div>
    </div>

</div>

</div>