<h4>Recent-post</h4>
<div class="recent-post mt-20">
    <div class="recent-post-info">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-12 pr-0">
                <img src="http://via.placeholder.com/82x82" alt="img">
            </div>
            <div class="col-md-8 col-sm-8 col-12">
                <h3><a href="#">Four ways to cheer yourself up on Blue Monday!</a></h3>
                <h6>May 21, 2018</h6>
            </div>
        </div>
    </div>

    <div class="recent-post-info">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-12 pr-0">
                <img src="http://via.placeholder.com/82x82" alt="img">
            </div>
            <div class="col-md-8 col-sm-8 col-12">
                <h3><a href="#">How to Organize Your Office for Maximum?</a></h3>
                <h6>May 21, 2018</h6>
            </div>
        </div>
    </div>

    <div class="recent-post-info">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-12 pr-0">
                <img src="http://via.placeholder.com/82x82" alt="img">
            </div>
            <div class="col-md-8 col-sm-8 col-12">
                <h3><a href="#">Best Messaging Apps for Business 2018</a></h3>
                <h6>May 21, 2018</h6>
            </div>
        </div>
    </div>

    <div class="recent-post-info">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-12 pr-0">
                <img src="http://via.placeholder.com/82x82" alt="img">
            </div>
            <div class="col-md-8 col-sm-8 col-12">
                <h3><a href="#">Four ways to cheer yourself up on Blue Monday!</a></h3>
                <h6>May 21, 2018</h6>
            </div>
        </div>
    </div>
</div>