<h4>Categories</h4>
<div class="blog-post-categories mt-20">
    <ul>
        <li><a href="#">Business<span>25</span></a></li>
        <li><a href="#">Resources<span>06</span></a></li>
        <li><a href="#">Life Style<span>09</span></a></li>
        <li><a href="#">Graphic Design<span>10</span></a></li>
        <li><a href="#">Web Designer<span>36</span></a></li>
        <li><a href="#">User Interface<span>17</span></a></li>
        <li><a href="#">Right Style<span>09</span></a></li>
        <li><a href="#">Videos<span>06</span></a></li>
    </ul>
</div>