<div class="action-box action-box-md grey-bg center-holder-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-10 col-12">
                <h3 class="bold">Create awesome web sites with us!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                </p>
            </div>
            <div class="col-md-2 col-sm-2 col-12 right-holder center-holder-xs">
                <a href="#" class="button-md primary-button">Read More</a>
            </div>
        </div>
    </div>
</div>