<div class="section-block-bg right-position" style="background-image: url('http://via.placeholder.com/1500x960);">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-10 col-12 offset-md-6">
                <div class="section-heading left-holder wow fadeIn animated" data-wow-delay=".1s">
                    <h3 class="bold">Financial Strength is the cornerstone of our success, <span
                            class="italic libre-baskerville primary-color">We value your time.</span></h3>
                    <div class="section-heading-line"></div>
                </div>
                <div class="text-content-big mt-10 wow fadeIn animated" data-wow-delay=".15s">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                        cillum dolore eu fugiat nulla pariatur.</p>
                </div>

            </div>
        </div>
    </div>
</div>