{% load forms_builder_tags %}


<!-- Contact Form Modal Start -->
<div class="col-md-12 col-sm-12 col-12">


	<div class="mt-20">
		<form class="subscribe-form-1 mt-110" data-izimodal-open="#modal5">
			<button type="submit">Contact Us</button>
		</form>

		<div class="izimodal" id="modal5" data-iziModal-width="600px" data-iziModal-fullscreen="true"
			data-iziModal-transitionIn="comingIn">

			<div class="close-modal">
				<button class="close-modal" data-izimodal-close><i class="ti-close"></i></button>
			</div>


			<div class="modal-heading">
				<h4 class=" center-holder">Contact Form</h4>
			</div>
			<div class="contact1-form-md white-background shadow-light">
				<!-- Form Start -->

				<!-- Form End -->
			</div>
		</div>
	</div>
</div>