<div class="section-block">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-12 wow fadeIn animated" data-wow-delay=".1s" data-wow-duration="1.5s">
                <div class="countup-box">
                    <div class="countup-box-left">
                        <i class="icon-question"></i>
                    </div>
                    <div class="countup-box-right">
                        <h4 class="countup">950</h4>
                        <h5>Questions Answered</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-12 wow fadeIn animated" data-wow-delay=".2s" data-wow-duration="1.5s">
                <div class="countup-box">
                    <div class="countup-box-left">
                        <i class="icon-target2"></i>
                    </div>
                    <div class="countup-box-right">
                        <h4 class="countup">600</h4>
                        <h5>Problems Solved</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-12 wow fadeIn animated" data-wow-delay=".3s" data-wow-duration="1.5s">
                <div class="countup-box">
                    <div class="countup-box-left">
                        <i class="icon-cooperate"></i>
                    </div>
                    <div class="countup-box-right">
                        <h4 class="countup">1250</h4>
                        <h5>Satisfied Clients</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-12 wow fadeIn animated" data-wow-delay=".4s" data-wow-duration="1.5s">
                <div class="countup-box">
                    <div class="countup-box-left">
                        <i class="icon-school-material"></i>
                    </div>
                    <div class="countup-box-right">
                        <h4 class="countup">1700</h4>
                        <h5>Projects Completed</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>