<div class="section-block-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-12 wow fadeIn animated" data-wow-delay=".1s" data-wow-duration="1.5s">
                <img src="http://via.placeholder.com/458x524" class="rounded-border shadow-primary full-width"
                    alt="img">
            </div>
            <div class="col-md-7 col-sm-12 col-12">
                <div class="pl-45-md">
                    <div class="section-heading left-holder wow fadeIn animated" data-wow-delay=".1s">
                        <h3 class="bold">We provide the solutions to grow your business <span
                                class="italic libre-baskerville primary-color">From Good to Great.</span></h3>
                        <div class="section-heading-line"></div>
                    </div>
                    <div class="text-content-big mt-10 wow fadeIn animated" data-wow-delay=".15s">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                            cillum dolore eu fugiat nulla pariatur.</p>
                    </div>

                    <!-- List Start -->
                    <div class="mt-25 wow fadeIn animated" data-wow-delay=".2s">
                        <ul class="primary-list">
                            <li><i class="fa fa-check-square"></i>Immigration consultant, Information technology
                                consulting</li>
                            <li><i class="fa fa-check-square"></i>Consultant pharmacist Creative consultant</li>
                            <li><i class="fa fa-check-square"></i>Employment consultant Environmental consultant
                            </li>
                        </ul>
                    </div>
                    <!-- List End -->

                    <!-- Process Steps Start -->
                    <div class="mt-40 wow fadeIn animated" data-wow-delay=".25s">
                        <div class="process-steps-xs">
                            <ul class="left-holder row">
                                <li class="col-md-3 col-sm-6 col-6">
                                    <div class="process-step-xs center-holder">
                                        <div class="process-step-icon">
                                            <i class="icon-settings2"></i>
                                        </div>
                                        <h3>Investment</h3>
                                    </div>
                                </li>
                                <li class="col-md-3 col-sm-6 col-6">
                                    <div class="process-step-xs center-holder">
                                        <div class="process-step-icon">
                                            <i class="icon-wallet2"></i>
                                        </div>
                                        <h3>Strategist</h3>
                                    </div>
                                </li>
                                <li class="col-md-3 col-sm-6 col-6">
                                    <div class="process-step-xs center-holder">
                                        <div class="process-step-icon">
                                            <i class="icon-idea3"></i>
                                        </div>
                                        <h3>Marketing</h3>
                                    </div>
                                </li>
                                <li class="col-md-3 col-sm-6 col-6">
                                    <div class="process-step-xs center-holder">
                                        <div class="process-step-icon">
                                            <i class="icon-cloud-computing2"></i>
                                        </div>
                                        <h3>Insurance</h3>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Process Steps End -->
                </div>
            </div>
        </div>
    </div>
</div>