{% load static %}

<!-- 4 Columns Carousel Section Section START -->
<div class="section-block pt-0 pb-0">
    <div class="container">
        <div class="small-heading center-holder mt-80 mb-40">
            <span class="uppercase">Carousel 4 Columns</span>
        </div>

        <div class="owl-carousel owl-theme customizable-carousel" data-loop="true" data-items="4" data-md-items="4"
            data-sm-items="2" data-xs-items="1" data-space="15" data-autoplay="true" data-autospeed="3500"
            data-nav-dots="false" data-nav-arrows="true">
            <div class="item">
                <img src="{% static 'assets/img/274x183.png' %}" alt="img">
            </div>
            <div class="item">
                <img src="http://via.placeholder.com/274x183" alt="img">
            </div>
            <div class="item">
                <img src="http://via.placeholder.com/274x183" alt="img">
            </div>
            <div class="item">
                <img src="http://via.placeholder.com/274x183" alt="img">
            </div>
            <div class="item">
                <img src="http://via.placeholder.com/274x183" alt="img">
            </div>
        </div>
    </div>
</div>
<!-- 4 Columns Carousel Section Section END -->