<!-- Subscribe Section START -->
<div class="section-block-parallax jarallax black-overlay-60" data-jarallax data-speed="0.6">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-12">
                <div class="large-heading left-holder">
                    <h5 class="Inder light"><span class="white-color">Subscribe to our </span><span class="pink-red">Newsletter</span></h5>
                    <div class="section-heading-line"></div>
                </div>
                <div class="text-content-big white-color">
                    <p>Be the first to know about EventsTracers’ top events, exclusive offers and get
                        actionable advice from our experience experts.</p>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-12 offset-md-1">
                <form class="subscribe-form-1 mt-10">
                    <input type="email" name="email" placeholder="Your Email">
                    <button type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Subscribe Section END -->
