<div class="section-block">
    <div class="container">
        <div class="section-heading center-holder wow fadeIn animated" data-wow-delay=".1s">
            <small>Your competitive edge</small>
            <h3 class="bold">We Are Team Of <span class="italic libre-baskerville primary-color">Professionals</span>
            </h3>
            <div class="section-heading-line"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt <br>ut
                labore
                et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="row mt-40">
            <div class="col-md-3 col-sm-6 col-12 wow fadeIn animated" data-wow-delay=".1s" data-wow-duration="1.5s">
                <div class="team-member">
                    <div class="team-member-image">
                        <img src="http://via.placeholder.com/262x328" alt="img">
                        <div class="team-member-overlay">
                            <div class="team-member-content">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team-member-name">
                        <h4><a href="#">Andrew Bright</a></h4>
                        <h6>Risk Manager</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-12 wow fadeIn animated" data-wow-delay=".2s" data-wow-duration="1.5s">
                <div class="team-member">
                    <div class="team-member-image">
                        <img src="http://via.placeholder.com/262x328" alt="img">
                        <div class="team-member-overlay">
                            <div class="team-member-content">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team-member-name">
                        <h4><a href="#">Nancy Wise</a></h4>
                        <h6>Investment Banker</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-12 wow fadeIn animated" data-wow-delay=".3s" data-wow-duration="1.5s">
                <div class="team-member">
                    <div class="team-member-image">
                        <img src="http://via.placeholder.com/262x328" alt="img">
                        <div class="team-member-overlay">
                            <div class="team-member-content">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team-member-name">
                        <h4><a href="#">Conrad Smith</a></h4>
                        <h6>Tax Specialist</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-12 wow fadeIn animated" data-wow-delay=".4s" data-wow-duration="1.5s">
                <div class="team-member">
                    <div class="team-member-image">
                        <img src="http://via.placeholder.com/262x328" alt="img">
                        <div class="team-member-overlay">
                            <div class="team-member-content">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team-member-name">
                        <h4><a href="#">Belle Hill</a></h4>
                        <h6>Loan Officer</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>