<div class="section-block-grey">
    <div class="container">
        <div class="section-heading center-holder wow fadeIn animated" data-wow-delay=".1s">
            <h2 class="bold"><span class="italic libre-baskerville primary-color">Great</span> Reviews from our
                Clients
            </h2>
            <div class="section-heading-line"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt <br>ut
                labore
                et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="row mt-50">
            <div class="col-md-6 col-sm-12 col-12 wow fadeIn animated" data-wow-delay=".1s" data-wow-duration="1.5s">
                <div class="testmonial-box">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 pr-0">
                            <div class="testmonial-box-image">
                                <img src="http://via.placeholder.com/74x74" alt="image">
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-10">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-6">
                                    <h5>Bruno Strong</h5>
                                    <span>Envato User</span>
                                </div>
                                <div class="col-md-6 col-sm-6 col-6">
                                    <div class="testmonial-box-rating right-holder">
                                        <h6>For Consulting</h6>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-12 wow fadeIn animated" data-wow-delay=".2s" data-wow-duration="1.5s">
                <div class="testmonial-box">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 pr-0">
                            <div class="testmonial-box-image">
                                <img src="http://via.placeholder.com/74x74" alt="image">
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-10">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-6">
                                    <h5>Alison Brave</h5>
                                    <span>Themeforest User</span>
                                </div>
                                <div class="col-md-6 col-sm-6 col-6">
                                    <div class="testmonial-box-rating right-holder">
                                        <h6>For Technologist</h6>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-12 wow fadeIn animated" data-wow-delay=".3s" data-wow-duration="1.5s">
                <div class="testmonial-box">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 pr-0">
                            <div class="testmonial-box-image">
                                <img src="http://via.placeholder.com/74x74" alt="image">
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-10">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-6">
                                    <h5>Crispin Raven</h5>
                                    <span>Tax Specialist</span>
                                </div>
                                <div class="col-md-6 col-sm-6 col-6">
                                    <div class="testmonial-box-rating right-holder">
                                        <h6>For HR Specialist</h6>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-12 wow fadeIn animated" data-wow-delay=".4s" data-wow-duration="1.5s">
                <div class="testmonial-box">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 pr-0">
                            <div class="testmonial-box-image">
                                <img src="http://via.placeholder.com/74x74" alt="image">
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-10">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-6">
                                    <h5>Angela White</h5>
                                    <span>Financial Analyst</span>
                                </div>
                                <div class="col-md-6 col-sm-6 col-6">
                                    <div class="testmonial-box-rating right-holder">
                                        <h6>For Loan Officer</h6>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>