{% extends 'pages/base.html' %}
{% load bootstrap %}

{% block content %}
<div class="section-block-parallax jarallax black-overlay-70" data-jarallax data-speed="0.6">
    <div class="container">
        <div class="row">
            <!-- Contact Form Column Start -->
            <div class="col-md-12 col-sm-12 col-12 wow fadeIn animated" data-wow-delay=".3s" data-wow-duration="1.5s">
                <div class="contact-form-md white-background">
                    <h5 class="center-holder">Silverbird SME Circuit Registration Form</h5>
                    <ul class="default-links">
                        <li>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }} | Personal Information</li>
                    </ul>
                    <!-- Form Start -->
                    <form method="post" action="#" class="mt-30">
                        {% csrf_token %}
                        {{ wizard.management_form }}
                        {{ form|bootstrap }}

                        {% if wizard.steps.prev %}
                        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}"> First </button>
                        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}"> Prev </button>
                        {% endif %}
                        <button type="submit" class="primary-button button-sm">Next</button>
                    </form>
                    <!-- Form End -->
                </div>
            </div>
            <!-- Contact Form Column End -->
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
    var docu = $("#id_SME1-supporting_document");
    docu.parent().parent().find("label").css("display", "none");
    $(document).ready(
        function () {
            $("#id_SME1-type_of_business").on('change', function () {
                var val = $(this).val();
                if (val === "LL") {
                    docu.css("display", "");
                    docu.attr("required", "required");
                    docu.parent().parent().find("label").css("display", "");
                }
                else if (val === "RB") {
                    docu.css("display", "");
                    docu.attr("required", "required");
                    docu.parent().parent().find("label").css("display", "");
                }
                else if (val === "P") {
                    docu.css("display", "");
                    docu.attr("required", "required");
                    docu.parent().parent().find("label").css("display", "");
                }
                else {
                    docu.css("display", "none");
                    docu.removeAttr("required");
                    docu.parent().parent().find("label").css("display", "none");
                    docu.val("");
                }
            })
        }
    )
</script>
{% endblock %}