{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<main class="contact-us-page">
    <section class="clean-block clean-form dark">
        <div class="col-lg-4 col-sm-12 col-md-12 offset-lg-4 offset-md-0 offset-sm-0">
            <div class="container">

                <div class="block-heading">
                    <h2 class="text-info">Password Reset </h2>
                </div>
                <form method="POST" enctype="multipart/form-data">
                    <fieldset class="form-group">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock content %}