{% extends 'pages/base.html' %}
{% load static %}

{% block content %}

{% include 'pages/page_components/page-title-banner.html' %}

<div class="section-block">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-12 col-10 offset-1">
                <div class="section-heading center-holder">
                    <p>Message sent</p>
                </div>

                <div class="text-content-big center-holder mt-25">
                    <p>Thank you for requesting an advisory service, one of our advisors will contact you shortly.”</p>
                </div>

            </div>
        </div>

    </div>
</div>

{% endblock content %}